* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;

  .container {
    .title {
      padding: 20px;
    }
    .trip-detail {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 20px;

      .trip-image {
        img {
          width: 100%;
        }
      }
    }
  }
}
