@import "animations";

@font-face {
  font-family: "Avo";
  src: url("../assets/fonts/UTM\ Avo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Avo", sans-serif;

  .image-container {
    width: 400px;
    // animation: rotate 5s linear infinite;
  }
}
